@font-face {
    font-family: "Molleat";
    src: url("../../asset/font/Molleat.ttf");
}

a{
    color: #26a69a;
}

.iconStyle{
    position: absolute;
    right: 20px;
    top: 20px;
}

.imageSize {
    margin: auto;
    max-width: 100px;
    max-height: 100px;
    float: left;
}

.textBox{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 110px;
    width: 400px;
    margin: 0px
}

.yellowColor, .yellowColor:hover{
    background-color: #FFC107;
}

.yellowColor:focus{
    background-color: #FF9800;
}

.paddingAround{
    padding-left: 5px;
    padding-right: 5px;
}

.circleCenter {
    display:inline-block;
    text-align:center;
    margin-top: 100px; 
}

.outputText{
    font-size: 12px;
    color: #9e9e9e;
}

.introImage{
    width: 150px;
    height: 100px;
}
